---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { formatDate } from "@/utils/Date.ts";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "@/i18n/utils";
import { lenguageList } from "@/i18n/ui";
const currentLang = Astro.currentLocale || "es";
const translate = useTranslations(currentLang as keyof typeof lenguageList);

export async function getStaticPaths() {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: { id: post.slug },
		props: { post },
	}));
}
const { post } = Astro.props;
const { data } = post;
const { title, date, updatedAt, author } = data;
const { Content } = await render(post);

export const prerender = true;
---

<Layout title={`${title}`}>
	<main class="min-h-screen max-w-3xl mx-auto px-6 py-12">
		<header class="mb-8 border-b border-gray-800 pb-4">
			<a
				href="/"
				class="text-lg md:text-xl mb-4 text-muted-foreground hover:text-primary transition-colors duration-100"
				aria-label="Volver al inicio"
			>
				{author} blog
			</a>
			<h1 class="text-2xl md:text-4xl font-extrabold mb-4">{title}</h1>
			<div class="flex flex-col sm:flex-row gap-4 text-sm">
				<div class="flex items-center gap-2">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						viewBox="0 0 24 24"
					>
						<path
							fill="currentColor"
							d="M15 2h2v2h4v18H3V4h4V2h2v2h6zM9 6H5v2h14V6zm-4 4v10h14V10zm2 2h8v2H7zm4 6v-2H7v2z"
						></path>
					</svg>
					<span>{formatDate(date)}</span>
				</div>

				{
					updatedAt && updatedAt !== date && (
						<div class="flex items-center gap-2">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								viewBox="0 0 24 24"
							>
								<path
									fill="currentColor"
									d="M18 2h-2v2h2zM4 4h6v2H4v14h14v-6h2v8H2V4zm4 8H6v6h6v-2h2v-2h-2v2H8zm4-2h-2v2H8v-2h2V8h2V6h2v2h-2zm2-6h2v2h-2zm4 0h2v2h2v2h-2v2h-2v2h-2v-2h2V8h2V6h-2zm-4 8h2v2h-2z"
								/>
							</svg>
							<span> {formatDate(updatedAt)}</span>
						</div>
					)
				}
			</div>
		</header>

		<article class="prose prose-invert max-w-none">
			<Content />
		</article>
		<footer class="mt-12 pt-8 border-t border-gray-800">
			<div class="flex items-center justify-between">
				<p class="text-sm text-muted-foreground">
					<span class="font-medium text-foreground"
						>{author}</span
					>
				</p>

				<!-- Botón para volver -->
				<a
					href="/"
					class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium text-muted-foreground hover:text-primary transition-colors duration-200"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
					>
						<path
							fill="currentColor"
							d="M20 11v2H8v2H6v-2H4v-2h2V9h2v2zM10 7H8v2h2zm0 0h2V5h-2zm0 10H8v-2h2zm0 0h2v2h-2z"
						></path>
					</svg>
						{translate('blog.return')}
				</a>
			</div>
		</footer>
	</main>
</Layout>
